/*@Reabaln - CSS for list page*/


html {
    background-color: #ecf9f4
    ;
}
body {
    background-color: #ecf9f4    ;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  td, th {
    border: 1px solid #595959    ;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }